<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

</head>
<body>
<h1>Projekt Blog</h1>
<h2>Strona About</h2>

<p><a href="https://github.com/klaudi73">https://github.com/klaudi73</a></p>
<p><a href="https://www.linkedin.com/in/klaudiusz-domagala/">https://www.linkedin.com/in/klaudiusz-domagala/</a></p>
<h3>© Klaudiusz Domagała</h3>
</body>
</html>