<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: header"/>
    <title>Article Page</title>
</head>
<body>
<div th:insert="nav :: navigation"></div>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav" th:insert="sideLeft :: sideLeft">

        </div>
        <div class="col-sm-8 text-left">
            <h3>Artykuł "<span th:text="${article.title}" />"</h3>
            <p th:text="${article.article}">Article</p>
        </div>
        <div class="col-sm-2 sidenav" th:insert="sideRight :: sideRight">

        </div>
    </div>
</div>

<div th:insert="footer :: copyright"></div>
</body>
</html>