<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: header"/>
    <title>Manage Articles Page</title>
</head>
<body>
<div th:replace="nav :: navigation"></div>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav" th:insert="sideLeft :: sideLeft">
        </div>
        <div class="col-sm-8 text-left" id="mainText">
            <div class="row text-center">
                <h2>Lista artykułów</h2>
            </div>
            <div class="col-sm-4" th:each="article : ${articlesCol}">
                <div class="panel panel-default">
                    <a th:href="@{/manageArticle(id=${article.id})}">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span th:text="${article.title}"></span></h3>
                        </div>
                        <div class="panel-body">
                            <span th:text="${article.article}"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 sidenav" th:insert="sideRight :: sideRight">
        </div>
    </div>
</div>
<div th:insert="footer :: copyright"></div>
</body>
</html>