<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Blog</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav nabar-left">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about"> About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarArticles" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Articles
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarArticles">
                        <a class="dropdown-item" href="/viewMyArticles">View My Articles</a>
                        <a class="dropdown-item" href="/viewAllArticles">View All Articles</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/addArticle">Add Article</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarManage" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarManage">
                        <a class="dropdown-item" href="/manageMyArticles">Manage My Articles</a>
                        <a class="dropdown-item" href="/manageAllArticles">Manage All Articles</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/manage">Manage ...</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/register">
                        <span><img src="person.svg"></span> Register
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        <span><img src="sign-in.svg"></span> Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <span><img src="sign-out.svg"></span> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>
</body>
</html>