<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: header"/>
    <title>Register Form Page</title>
</head>
<body>
<div th:insert="nav :: navigation"></div>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav" th:insert="sideLeft :: sideLeft">

        </div>
        <div class="col-sm-8">
            <form class="form-horizontal" action="register" th:action="@{/register}" th:object="${registerUser}" th:method="post">
                <!--
                <div class="form-group row">
                    <div th:if="${#fields.hasGlobalErrors()}">
                        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
                    </div>
                </div>
                -->
                <!--
                <div class="form-group row">
                    <div class="col-sm-2" th:if="${#fields.hasErrors('*')}">
                    </div>
                    <div class="col-sm-6 alert alert-danger" th:if="${#fields.hasErrors('*')}">
                        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                    </div>
                    <div class="col-sm-4" th:if="${#fields.hasErrors('*')}">
                    </div>
                </div>
                -->
                <div class="form-group row">
                    <div class="col-sm-2 text-right">
                        <label class="col-form-label" for="login">Login:</label>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" id="login" type="text" name="login"
                               th:field="*{login}" placeholder="Login"/>
                    </div>
                    <div class="alert-danger col-sm-4" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2 text-right">
                        <label class="col-form-label" for="name">First name:</label>
                    </div>

                    <div class="col-sm-6">
                        <input class="form-control" id="name" type="text" name="name"
                               th:field="*{name}" placeholder="First name"/>
                    </div>
                    <div class="alert-danger col-sm-4" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2 text-right">
                        <label class="col-form-label" for="lastName">Last name:</label>
                    </div>

                    <div class="col-sm-6">
                        <input class="form-control" id="lastName" type="text" name="lastName"
                               th:field="*{lastName}" placeholder="Last name"/>
                    </div>
                    <div class="alert-danger col-sm-4" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2 text-right">
                        <label class="col-form-label" for="email">e-mail:</label>
                    </div>

                    <div class="col-sm-6">
                        <input class="form-control" id="email" type="text" name="email"
                               th:field="*{email}" placeholder="e-mail"/>
                    </div>
                    <div class="alert-danger col-sm-4" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2 text-right">
                        <label class="col-form-label" for="password">Password:</label>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" id="password" type="password"
                               th:field="*{password}" placeholder="Password"/>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="alert-danger col-sm-6" th:if="${#fields.hasErrors('password')}">
                                <span th:errors="*{password}"></span>
                            </div>
                            <div class="alert-danger col-sm-6" th:if="${#fields.hasErrors('*')}">
                                <span th:errors="${registerUser}"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-sm-2 text-right">
                        <label class="col-form-label" for="password2">Verify password:</label>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" id="password2" type="password"
                               th:field="*{password2}" placeholder="Verify password"/>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="alert-danger col-sm-6" th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"></div>
                            <div class="alert-danger col-sm-6" th:if="${#fields.hasErrors('*')}" th:errors="${registerUser}"></div>
                        </div>
                    </div>
                </div>
                <!--
                <div class="form-group row">
                    <div class="col-sm-2 text-right">
                        <label class="col-form-label" for="role">Role:</label>
                    </div>
                    <div class="col-sm-6">
                        <select class="form-control" id="role" th:field="*{role}">
                            <option value="ROLE_USER">ROLE_USER</option>
                            <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                        </select>
                    </div>
                    <div class="alert-danger col-sm-4" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></div>
                </div>
                -->
                <div class="form-group row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-6 text-left">
                        <input class="btn btn-default" type="submit" value="Add"/>
                    </div>
                    <div class="col-sm-4">
                    </div>

                </div>
            </form>
        </div>
        <div class="col-sm-2 sidenav" th:insert="sideRight :: sideRight">

        </div>
    </div>
</div>
<div th:insert="footer :: copyright"></div>
</body>
</html>