<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="header :: header"/>
    <title>Register Form Page</title>
</head>
<body>
<div th:insert="nav :: navigation"></div>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav" th:insert="sideLeft :: sideLeft">

        </div>
        <div class="col-sm-8">
            <form class="form-horizontal" action="register" th:action="@{/register}" th:object="${user}" th:method="post">
                <div class="form-group row">
                    <div class="col-sm-1 text-right">
                        <label class="col-form-label" for="login">login:</label>
                    </div>
                    <div class="col-sm-11">
                        <input class="form-control" id="login" type="text" name="login"
                               th:field="*{login}" placeholder="login"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-1 text-right">
                        <label class="col-form-label" for="name">name:</label>
                    </div>
                    <div class="col-sm-11">
                        <input class="form-control" id="name" type="text" name="name"
                               th:field="*{name}" placeholder="name"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-1 text-right">
                        <label class="col-form-label" for="password">password:</label>
                    </div>
                    <div class="col-sm-11">
                        <input class="form-control" id="password" type="password"
                               th:field="*{password}" placeholder="password"/>
                    </div>
                </div>
                <!--
                <div class="form-group row">
                    <div class="col-sm-1 text-right">
                        <label class="control-label" for="password2">password:</label>
                    </div>
                    <div class="col-sm-11">
                        <input class="form-control" id="password2" type="password2"
                               th:field="*{password2}" placeholder="password"/>
                    </div>
                </div>
                -->
                <div class="form-group row">
                    <div class="col-sm-1 text-right">
                        <label class="col-form-label" for="role">role:</label>
                    </div>
                    <div class="col-sm-11">
                        <select class="form-control" id="role" th:field="*{role}">
                            <option value="ROLE_USER">ROLE_USER</option>
                            <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-11 text-left">
                        <input class="btn btn-default" type="submit" value="Add"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-2 sidenav" th:insert="sideRight :: sideRight">

        </div>
    </div>
</div>
<div th:insert="footer :: copyright"></div>
</body>
</html>