<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: header"/>
    <title>Register Confirm</title>
</head>
<body>
<div th:insert="nav :: navigation"></div>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav" th:insert="sideLeft :: sideLeft">

        </div>
        <div class="col-sm-8">
            <div class="container-fluid">
                <div class="panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Rejestracja
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Rejestracja przebiegła pomyślnie. Możesz się zalogować.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 sidenav" th:insert="sideRight :: sideRight">

        </div>
    </div>
</div>
<div th:insert="footer :: copyright"></div>
</body>
</html>