<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: header"/>
    <title>Secret Page</title>
</head>
<body>
<div th:insert="nav :: navigation"></div>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav" th:insert="sideLeft :: sideLeft">

        </div>
        <div class="col-sm-8 text-center">
            <h1>Secret page</h1>
            <p>Moja karta kredytowa to: ???? !!!! #### $$$$</p>
            <p>Kod CVS: ABC</p>


            <form action="logmeout" th:action="@{/logmeout}" method="post">
                <input type="submit" value="logmeout">
            </form>
        </div>
        <div class="col-sm-2 sidenav" th:insert="sideRight :: sideRight">

        </div>
    </div>
</div>
<div th:insert="footer :: copyright"></div>
</body>
</html>