<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
<h1>Secret page</h1>
<p>Moja karta kredytowa to: ???? !!!! #### $$$$</p>
<p>Kod CVS: ABC</p>


<form action="logmeout" th:action="@{/logmeout}" method="post">
    <input type="submit" value="logmeout">
</form>

</body>
</html>